input {
    border: 1px solid #999;
    padding: 8px;
    width: 300px;
  }
  .no-autocomplete {
    color: #999;
    padding: 8px;
  }
  .autocomplete {
    border: 1px solid rgb(174, 174, 174);
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 403px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(230px + 1rem);
  }
  .autocomplete li {
    padding: 8px;
  }
  .autocomplete > .active,
  .autocomplete li:hover {
    background-color: rgb(177, 177, 177);
    cursor: pointer;
    font-weight: 700;
  }
  .autocomplete li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }