#card-principal{
    border: solid #63594d4d 1px;
    height: 400px;
    width: 600px;
    border-radius: 15px;
}

.cards{
    border: solid #63594d4d 1px;
    border-radius: 5px;
    height: 280px;
    width: 260px;
    background-color: rgb(245, 245, 245);
}

.card-maior {
    border: solid #63594d4d 1px;
    border-radius: 5px;
    height: 280px;
    width: 404px;
    background-color: rgb(247, 246, 246);
}

.number{
    font-size: 5em;
    padding-top: 15px;
}

.titulo{
    font-size: 5em;
    color: #63594d;
}

