.form-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.input-buscar{
    display: inline;
}

.botao-buscar{
    display: inline;
}

#botao-filtro{
    margin: 20px;

}

#display-flex{
    display: block;
}

.vermelho{
    background-color:red;
}